ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: white;
}


/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

h2 {
	font-size: 50px;
	color: lime;
	font-family:  Impact, Charcoal, sans-serif;
}

body{ 
	background-color: aliceblue;
	

}
