body{
	background: linear-gradient(to left, lightskyblue, white);
}
.navbar-brand {
	margin: -15px;
	height: 50px;
}
.navbar-header{
	color:black;
}
.w3-navbar {
  background: white; 
}
#words{
    width: 700px;
    height: 250px;
}
.name{
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color: lightslategrey;
	font-size: 40px;
	text-align: center;
}
.details{
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color:lightslategrey;
	font-size: 40px;
	text-align: center;
}
.nav navbar-nav {
	font-size: 35px;
	background: linear-gradient(to left, lightskyblue, white);
	color: black;
}
.active{
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 35px;
}

.carousel-caption{
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color: white;
	font-size: 35px;
}

#question{ 
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color: black;
	font-size: 35px;
	left: 20px;
	position: absolute;
	padding: 20px;

}
#description {
	padding-top: 70px;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color: black;
	font-size: 35px;
	text-align: justify;
	position: absolute;
	left: 40px;
	right: 40px;
	 
 }
.container-fluid{ 
	background: linear-gradient(to left, lightskyblue, white);
	font-size: 25px;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color: black;
	
}
.dropdown-menu{
	background: linear-gradient(to left, lightskyblue, white);
	font-size: 25px;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color: black;

} 

.item{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  max-height: 600px;
}
.round-button {
	width:25%;
}
#button1{
	margin-left:400px;
	
}
#button2{
	margin-left: 930px;
	margin-top: -500px;
}
#button3{
	margin-top: 30px;
	margin-left: 400px;
}
#button4{
	margin-left: 930px;
	margin-top: -500px;
}
#button5{
	margin-left:650px;
	margin-top: 30px;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;
	margin-left: 50px;
    
    background: #4679BD; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background:lightskyblue;
}

.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:White;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size:45px;
    font-weight:bold;
    text-decoration:none;
}
/*css for materias*/
.spanish{
	font-size: 40px;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color: Black;
	text-align:center;
	margin:15px;
	padding-left: 10px;
	padding-right: 10px;
}

.english{
	font-size: 45px;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color: lightslategrey;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
.button{
	width:125px;
	height:55px;
	background-color: lightskyblue;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color:black;
	margin:25px;
	font-size:25px;
	opacity: 0.7;
	margin:auto;
	display:block;
	padding-left: 10px;
	padding-right: 10px;
}
/*2nd row of buttons*/
.spanish2{
	font-size: 40px;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color: Black;
	text-align: center;
	margin:15px;
	padding-left: 10px;
	padding-right: 10px;

}

.english2{
	font-size: 45px;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color: lightslategrey;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
.button2{
	width:125px;
	height:55px;
	background-color: lightskyblue;
	font-family:Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color:black;
	margin: 25px;
	font-size:25px;
	opacity: 0.7;
	margin:auto;
	display:block;
	padding-left: 10px;
	padding-right: 10px;
}
/*3rd row of buttons*/
.spanish3{
	font-size: 40px;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color: Black;
	text-align: center;
	margin:15px;
	padding-left: 10px;
	padding-right: 10px;

}

.english3{
	font-size: 45px;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color: lightslategrey;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
.button3{
	width:125px;
	height:55px;
	background-color: lightskyblue;
	font-family:Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	color:black;
	margin: 25px;
	font-size:25px;
	opacity: 0.7;
	margin:auto;
	display:block;
	padding-left: 10px;
	padding-right: 10px;
}
