body{
	background: linear-gradient(to left, lightskyblue, white)
}
.navbar-brand {
	font-family: Copperplate,"Copperplate Gothic Light",fantasy;
	font-size: 30px;
	color: rgb(0,0,0); 
}
.caret{
    margin-top: 10px;
}

.dropdown-toggle{
    margin-top: 0px;
}

.active{
	font-family: Copperplate,"Copperplate Gothic Light",fantasy;
	font-size: 30px;
	color:black;
	
}

.container-fluid{ 
	background-color: lightskyblue;
	font-size: 25px;
	font-family: Copperplate,"Copperplate Gothic Light",fantasy;
	color: black;
	
}
.dropdown-menu{
	background-color: lightskyblue;
	font-size: 25px;
	font-family: Copperplate,"Copperplate Gothic Light",fantasy;
	color: black;

} 
.navbar-default{
	font-family: Copperplate,"Copperplate Gothic Light",fantasy;
	font-size: 30px;
	color: rgb(0,0,0); 
}
.item{
  display: block;
  margin: auto;
  width: 840px;
  height: 600px;
  max-height: 600px;
}
.carousel {
    height: 600px;
}
